{% extends "base.html" %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filters</title>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="main-container">
        <div class="text-container">
        <h1>Симулятор обработки сигналов</h1>
            <p>Этот интерактивный учебник состоит из нескольких частей.</p>
            <p>В первой части вы сможете изучить различные сигналы и 
                поэкспериментировать с ними с помощью дискретного преобразования Фурье.</p>
            <p>Во второй части мы поговорим о фильтрах и попробуем сгенерировать 
                несколько из них для очистки сигналов от шума.</p>
            <p>Третья часть посвящена применению нейросетевого подхода для
                 детектирования сгенерированного сигнала азбуки Морзе.</p>
        </div>

        <div class="text-container">
            <h2>О проекте</h2>
            <p>
                Ознакомиться с исходным кодом основного проекта можно по ссылке:
                <a href="https://github.com/LionZLion/digital_signal_processing">GitHub</a>
                <br>
                Код, связанный с проектированием нейросетевой модели, доступен здесь:
                <a href="https://github.com/LionZLion/morse_decriptor">GitHub</a>
            </p>

            <h2>Обо мне</h2>
            <p>
                Меня зовут Лев, я обучаюсь на втором курсе магистратуры НИЯУ МИФИ. Я люблю 
                программировать, но ещё больше люблю, когда мой код помогает решать научные задачи.
                Поэтому я занимаюсь исследовательской деятельностью в области теоретической физики
                и цифровой обработки сигналов.
                <br>
                Если вы заинтересованы во мне как в потенциальном сотруднике, 
                вы можете ознакомиться с моим резюме по ссылке:
                <a href="https://disk.yandex.ru/i/ME0lVGCo-UfjIg">Яндекс Диск</a>
            </p>
            <p>Буду рад рассмотреть любые предложения по работе.</p>
        </div>
    </div>
</body>

{% endblock %}